body {
    background-color: yellow;
    /* font-family: 'Source Code Pro',
    monospace; */
    font-family: 'Old Standard TT',
    serif;
}

.text-center {
    background-color: orange
}

.panel {
    background-color: orange
}